@section Styles {
    <link href="~/msit155e/css/drugs/stylesheet.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "乳房超音波檢查";
}

<div class="article">

    <!--- 標題 --->

    <h2>
        乳房超音波檢查
    </h2><br />
    <img src="~/msit155e/images/drugs/blog3.png" width="800px"/>
    <br /><hr />

    <!--- 檢查目的 --->
    <div>
        <p class="fw-bold">檢查目的</p>
        <p>
            世界各國婦女乳癌發生率皆逐年上升，台灣也不例外，乳癌的發生率仍逐年上升中，台灣乳癌的好發年齡於40至50歲，自我檢查是關心自身健康的第一步，女性至少應於30歲以後，開始進行。其實大部分的乳癌初期沒有症狀，尤其小到1至2公分的腫瘤時，摸到異狀也不會疼痛，很容易因此忽略。一般建議40歲以下的年輕女性，並非乳癌的高危險群，而且乳房也比較緻密，建議可以超音波檢查為主。40歲以上，則看觸診結果，一般建議先進行乳房X光攝影，若有疑慮，再安排乳房超音波檢查。
        </p>
        <p>
            子宮頸抹片檢查是藉由顯微鏡觀察抹片上的細胞核、細胞質的比例，以及細胞形狀及大小等，來辨別受檢者是否有子宮頸癌或癌前病變之問題。由於子宮頸抹片檢查主要是採集子宮頸上剝落的細胞，所以除了能檢測子宮頸癌外，像陰道病變、子宮內膜癌等異常細胞也可能在抹片過程中被採集到，進而診斷。
        </p>
        <p>
            「早期診斷，早期治療」是治療子宮頸癌的最佳方式，子宮頸抹片檢查能偵測出早期子宮頸的病變，使醫師能在尚未癌化前經過簡單的治療就將病灶去除，大大提高治癒率，根據衛生福利部國民健康署統計資料分析顯示，子宮頸抹片檢查可降低約70%子宮頸癌死亡率。
        </p>
    </div>

    <!--- 檢查方式 --->
    <div>
        <p class="fw-bold">檢查方式</p>
        <p>
            醫師藉由超音波掃描檢查乳房及腋下淋巴結是否有硬塊或水泡，進而診斷是否需要追蹤或治療。
        </p>        
    </div>

    <!--- 常見問題 --->
    <div>
        <p class="fw-bold">常見Q&A</p>
        <br />
        <div class="text">
            <p>Q:乳房X光攝影或超音波哪個檢查比較準確呢？</p>
            <p>A:</p>
            <p>目前乳房X光攝影以放射線穿透胸部組織、血管，為了拍攝出清晰的影像，必須把乳房盡量壓扁平，減少厚度，有婦女甚至形容痛得像被門夾到。另一項常見的檢查，乳房超音波，因為不會疼痛，因此婦女朋友普遍接受度較高。</p>
            <p>不管是乳房X光攝影、或是乳房超音波，都可依檢查的判讀結果，斷定是否是良性腺瘤、水泡，還是可能有惡性腫瘤。</p>
            <p>乳房X光攝影與乳房超音波兩項檢查最好能互相搭配，乳癌若出現腫塊，以超音波檢查診斷率較佳；但如果是出現鈣化點的早期變化，則乳房X光攝影才容易找出病變。因此當臨床上懷疑有乳癌的可能性，最好兩者都進行，千萬不要因為怕痛，僅進行乳房超音波檢查，造成診斷上可能有盲點。</p>
            
            <p>Q:什麼情況需要做乳房超音波檢查？</p>
            <p>A:醫師建議一般婦女產後停止哺乳後應每年定期做乳房超音波檢查。如果直系親屬（如媽媽、外婆）都曾罹患乳癌，有家族史的婦女，更應該提高危機意識，提前到35歲，每兩年進行一次乳房X光攝影。乳房超音波檢查因為沒有輻射的疑慮，則可以年年都做。如果沒有家族史，最遲也應該於40歲後開始做相關檢查。</p>         
            <p>Q:做乳房超音波檢查有什麼特別的限制嗎？</p>
            <p>A:</p>
            <p>一般婦女可在生理期結束後5至7天，乳房減少腫脹時檢查；停經後婦女則可每年固定找一天安排檢查。</p>            
            
            <p>Q:做這項檢查有健保給付還是需要自費篩檢？</p>
            <p>A:健保仍未將此檢查列入給付項目，故目前仍須以自費方式做檢查。</p>            
        </div>
    </div>
    <!-- 返回列表按鈕:水平置中 -->
    <div class="text-center">
        <a class="btn btn-secondary" href="~/FHealthInformation/FHealthInformation" role="button">返回列表</a>
    </div>
</div>

