@section Styles {
    <link href="~/msit155e/css/drugs/stylesheet.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "高層次超音波檢查";
}

<div class="article">

    <!--- 標題 --->

    <h2>
        高層次超音波檢查
    </h2><br />
    <img src="~/msit155e/images/drugs/blog4.png" width="800px" />
    <br /><hr />

    <!--- 前言 --->
    <div>
        <p>寶寶受孕，安全著床在媽媽的子宮之後，便隨著時間一天天長大！在第一孕期時，我們會幫寶寶檢查染色體異常的風險，例如頸部透明帶的檢查，第二孕期的四指標母血唐氏症篩檢以及羊膜穿刺、羊水晶片等！當我們確定寶寶染色體檢查後，隨著寶寶器官發育至一定程度，做父母親的，最希望知道的，就是寶寶身體的健康情形如何了！</p>
        <p>隨著醫療的進步，我們可以在寶寶還在子宮內時一窺究竟！在20-24周時，高層次超音波便可提供我們較為完整的資訊！</p>

    </div>

    <!--- 說明 --->
    <div>
        <p class="fw-bold">什麼是高層次超音波</p>
        <p>高層次超音波，顧名思義是比較精細的超音波檢查。一般規則產檢時，所接受的超音波檢查是屬於第一級的超音波，範圍包括胎位、胎兒大小以及羊水量等。而高層次超音波則是從頭到腳所有的器官以及外觀均做詳細的檢查。羊膜穿刺以及晶片的檢查，是針對染色體，而高層次超音波則是針對結構來檢查，除了染色體異常所導致的結構異常外，還可以檢查胚胎發育中突發的錯誤，例如脣顎裂、心室中隔缺損等。</p>
    </div>

    <!--- 檢查目的 --->
    <div>
        <p class="fw-bold">檢查目的</p>
        <p>
            胎兒高層次超音波檢查能夠為胎兒完成全面性的「結構檢查」，評估身體各個結構是否正常。本診所之高層次超音波有非常詳細完整之標準流程，從腦部結構、眼、耳、鼻、口、舌等，均有詳細檢查與影像；心臟、腸胃道、腎臟、膀胱等內臟臟器亦有詳盡檢查！四肢長骨與手指腳趾，更是完整記錄，之後由主治醫師詳盡說明。建議在懷孕20-24週時，接受高層次超音波檢查，給寶寶第一次的全身健康檢查，讓準父母可以提早了解寶寶的身體狀況，如果有任何需要追蹤的情形，也不致於手足無措！
        </p>       
    </div>

    <!--- 檢查方式 --->
    <div>
        <p class="fw-bold">檢查方式</p>
        <p>
            高層次超音波是以2D超音波的方式檢查，所需時間比一般例行性產檢稍久，約30-60分鐘，每個器官結構都會詳細檢查，除了胎兒以外，同時也能測量子宮頸長度、臍帶血流等等部份，整個檢查涵括共約50個以上的項目。
        </p>
    </div>

    <!--- 常見問題 --->
    <div>
        <p class="fw-bold">常見Q&A</p>
        <br />
        <div class="text">
            <p>Q:何時該做此項檢查?</p>
            <p>A:懷孕20-24週，16週以上即可           
            <p>Q:照完高層次我的寶寶就確定沒問題了嗎?</p>
            <p>A:高層次超音波是篩檢方法，並非最終診斷方式，檢查的敏感度及專一性均有其限制，並非所有的胎兒問題均可透過超音波檢查出來，一般而言，胎兒超音波檢查的敏感度(有異常而可被篩檢出)最高僅可達60-80%。</p>
            <p>Q:檢查結果正常的話，寶寶以後有可能出現問題嗎？</p>
            <p>A:高層次超音波檢查報告只能判讀為:在這個週數的檢查下，有無篩檢出胎兒基本構造異常的狀況。檢查無異常狀況者，並不代表胎兒未來就正常、沒有疾病，因為有些症狀可能因為檢查當下胎兒尺寸太小而未能偵測到，有些疾病會在胎兒較大週數、甚至出生後才出現，胎兒是一個持續長大中的個體，和新生兒一樣，能有許多疾病可在逐漸長大中慢慢出現。且高層次超音波有其限制，無法診斷所有問題，例如胎兒的智商、視力聽力、有無胎記或是否有生化代謝異常等，這些無法以超音波確認的部份，是檢測不出來的。</p>
            <p>Q:此項檢查可以檢驗唐氏症嗎?</p>
            <p>A:超音波無法取代羊膜穿刺，意即無法由超音波診斷出有無唐氏症或其他染色體異常。</p>
            <p>Q:我已超過24週還來得及做高層次超音波嗎?</p>
            <p>A:妊娠週數越大，超音波篩檢敏感度越差，因為胎兒在子宮無法完全伸展，骨骼肢體重疊，因而阻擋超音波進入，導致檢查效果較差。</p>
            <p>Q:做這項檢查有健保給付還是需要自費篩檢？</p>
            <p>A:健保仍未將此檢查列入給付項目，故目前仍須以自費方式做檢查。</p>
        </div>
    </div>
    <!-- 返回列表按鈕:水平置中 -->
    <div class="text-center">
        <a class="btn btn-secondary" href="~/FHealthInformation/FHealthInformation" role="button">返回列表</a>
    </div>
</div>

