@section Styles {
    <link href="~/msit155e/css/drugs/stylesheet.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "子宮頸抺片檢查";
}

<div class="article">
    
    <!--- 標題 --->

    <h2>       
        子宮頸抺片檢查
    </h2><br />
    <img src="~/msit155e/images/drugs/blog2.png"  width="800px"/>
    <br /><hr />

    <!--- 檢查目的 --->
    <div>
        <p class="fw-bold">檢查目的</p>
        <p>            
            子宮頸癌曾經是國人女性十大死因之一，因為初期無症狀，等到出現異常出血或下腹疼痛時，疾病已經進展到中後期，需要進行複雜的手術或是合併電療、化療才能控制。治療子宮頸癌也一直是婦產科很重要困難的課題。
        </p>
        <p>
            子宮頸抹片檢查是藉由顯微鏡觀察抹片上的細胞核、細胞質的比例，以及細胞形狀及大小等，來辨別受檢者是否有子宮頸癌或癌前病變之問題。由於子宮頸抹片檢查主要是採集子宮頸上剝落的細胞，所以除了能檢測子宮頸癌外，像陰道病變、子宮內膜癌等異常細胞也可能在抹片過程中被採集到，進而診斷。
        </p>
        <p>
            「早期診斷，早期治療」是治療子宮頸癌的最佳方式，子宮頸抹片檢查能偵測出早期子宮頸的病變，使醫師能在尚未癌化前經過簡單的治療就將病灶去除，大大提高治癒率，根據衛生福利部國民健康署統計資料分析顯示，子宮頸抹片檢查可降低約70%子宮頸癌死亡率。
        </p>
    </div>

    <!--- 檢查方式 --->
    <div>
        <p class="fw-bold">檢查方式</p>
        <p>
            子宮頸抹片檢查是一種簡單、快速且無痛的檢查方式。醫師會請妳躺在內診台上，用陰道擴張器來擴大陰道以子宮頸刷，將子宮頸四周和陰道後壁的細胞刮下。將細胞樣本抹在玻片上並迅速浸泡在固定液內固定，然後送至病理科進行細胞學檢查。目前子宮頸癌篩檢工具可分為以下兩種:
        </p>
        <div>
            <dl>
                <dt>
                    傳統子宮頸抹片
                </dt>
                <dd>
                    刮取少量剝落的上皮細胞，塗抹於玻片上。

                </dd>
                <dt>
                    新柏氏電腦超薄抹片
                </dt>
                <dd>檢體採樣的方式和傳統子宮頸抹片相同，不同的是採樣後並不是將細胞塗抹在玻片上，而是放在裝有特殊保存液的小瓶中，保留細胞的完整，再經由離心去除雜質後，以自動化儀器製成單層細胞的抹片，使得抹片均勻清晰，以提升準確度。</dd>
            </dl>
        </div>
    </div>

    <!--- 常見問題 --->
    <div>
        <p class="fw-bold">常見Q&A</p>
        <br />
        <div class="text">
        <p>Q:何時該做此項檢查呢?</p>
        <p>A:有性行為或30歲以上的女性應每年定期接受子宮頸抹片篩檢。</p>
            <p>Q:做此項檢查需注意什麼?</p>
            <p>A:為了確保檢查結果的準確度，請您配合以下事項：</p>
            <ul>
                <li>檢查前請避免盆浴</li>
                <li>檢查前3天不可有性行為</li>
                <li>要避開生理期，最好是完全結束才受檢</li>
                <li>陰道塞劑治療的7天內不可做檢查 </li>
                <li>檢查前不能沖洗陰道</li>
                <li>子宮頸手術後的抹片追蹤必須間隔三個月以上</li>
                <li>剛生產完，由於哺乳會抑制女性荷爾蒙分泌，建議產後2個月以上再做抹片檢查</li>
            </ul>
            <p>Q:子宮頸抹片檢查報告異常該怎麼辦?</p>
            <p>A:</p>
            <p>如果抹片結果呈現懷疑或輕微的異常，則醫師必須重複檢查以再確定。</p>
            <p>如果抹片結果呈現顯著的異常，則醫師可能會實施陰道鏡檢以檢查陰道與子宮頸。在陰道鏡診視下直接取出少量子宮頸組織以供病理科醫師做檢驗。這個過程稱為切片檢查，切片檢查可以確定異常細胞是否為癌症，如有癌變時，仍需到手術房做錐狀切片，較能確認範圍及往後的治療參考。</p>
            
            <p>Q:預防子宮頸癌的其他選擇？</p>
            <p>A:</p>
            <p>子宮頸症的成因主要是因為透過性行為感染「高危險」類型的人類突病毒（如HPV 16, 18, 31, 45, 52 及 58等）而導致子宮頸細胞病變，所以除了每年定期進行子宮頸抹片檢查之外，進行人類乳突病毒篩檢也非常重要，台灣癌症基金會建議，預防子宮頸癌建議要以「抹片」、「安全性行為」和「施打疫苗」才能全面預防疾病。</p>
            <p>您可以在請醫師進行子宮頸抹片檢查時，詢問是否能同時進行人類乳突病毒篩檢，或是邀請您的伴侶一同施打HPV疫苗共同預防，避免在不知情的情況下減少把病毒傳給另一半的風險，互相感染。</p>
        
            <p>Q:這項檢查是否有健保給付呢?</p>
            <p>A:30歲以上婦女只要攜帶健保卡和身份證，即可接受每年1次的免費子宮頸抹片檢查（傳統子宮頸抹片）。健保目前尚未給付電腦超薄抹片檢查費用，因此電腦超薄抹片須自費進行。</p>
        </div>
    </div>
    <!-- 返回列表按鈕:水平置中 -->
    <div class="text-center"> 
    <a class="btn btn-secondary" href="~/FHealthInformation/FHealthInformation" role="button">返回列表</a>
    </div>
</div>

