@section Styles {
    <link href="~/msit155e/css/drugs/stylesheet.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "「害喜」整天都好想吐！孕吐的非藥物治療與藥物治療選擇";
}




<div class="article">
    <h2 class="bold">「害喜」整天都好想吐！孕吐的非藥物治療與藥物治療選擇</h2><br />
    <img src="~/msit155e/images/drugs/pregnant_woman.jpg" />
    <br /><hr />
    
    <partial name="Partial/_favorite" />
    <ul style="font-size:larger">
        生活方式和飲食調整

        
        <li>
            飲食控制：避免油膩、辛辣或重口味食物。選擇淡味、易消化的食物，如麵包、餅乾、燕麥等。
        </li>
        <li>
            分散進餐：採用少量多餐的方式，避免一次進食過多。
        </li>
        <li>
            避免空腹：空腹時噁心感會加重，可嘗試在床邊放置一些輕食，如麵包或餅乾，早晨起床前先吃些小點心。
        </li>
        <li>
            營養補充：確保飲食中含有足夠的維生素和礦物質，可考慮補充孕婦所需維生素。
        </li>
        <li>
            嘗試使用生薑：研究顯示生薑雖未能減少嘔吐次數，但能改善噁心症狀，可考慮作為輔助治療的選擇。
        </li>
    </ul>
    <!-- 返回列表按鈕:水平置中 -->
    <div class="text-center">
        <a class="btn btn-secondary" href="~/FHealthInformation/FHealthInformation" role="button">返回列表</a>
    </div>

</div>
@section Scripts {
    <script>
        var currentURL = window.location.href;

        const btn1 = document.getElementById('btn1');
        btn1.addEventListener('click', function () {
            console.log('click');
            console.log("完整URL:", currentURL);
        });
    </script>
}





