@section Styles {
    <link href="~/msit155e/css/drugs/stylesheet.css" rel="stylesheet" />
    <style>
       

    </style>


}
@{
    ViewData["Title"] = "新生兒感覺神經性聽損基因篩檢";
}

<div class="article">

    <!--- 標題 --->

    <h2>
        新生兒感覺神經性聽損基因篩檢
    </h2><br />
    <img src="~/msit155e/images/drugs/blog6.jpg" />
    <br /><hr />

    <!--- 檢查目的 --->
    <div>
        <p class="fw-bold">檢查目的</p>
        <p>
            在新生兒先天性疾病中，聽力缺損是最常見的疾病之一。根據國內研究統計，台灣新生兒患有先天性雙耳中重度聽障的發生率約為1/1000～3/1000，若加上輕度及較晚發病的聽損兒童，則發生率可能更高達1% - 5%，其中約有三分之二為遺傳基因導致。值得注意的是，超過90% 聽損新生兒的父母親聽力都是正常的。
        </p>
        <p>
            嬰幼兒的聽力發展與語言學習密不可分，如果能進行新生兒聽損基因篩檢，再搭配政府補助之新生兒聽力篩檢，及早診斷，及早介入治療，把握出生至6個月前的聽力矯正黃金期，對聽損寶寶的語言學習會有很大的幫助。
        </p>
        <p>
            除了能幫助孩子及早治療之外，基因篩檢更能準確地決定聽損治療的重要方針，大約有5到10%的新生兒聽損與神經發育相關，手術安裝電子耳對改善聽力的效果有限，及早發現，醫師才能及早為孩子安排積極的聽語復健及手語學習。另外，基因檢測也可以提早找到合併特定內耳結構問題的孩子，讓醫師可以提醒家長孩子需要終生避免服用會造成耳毒性的藥物，也不能從事容易撞擊到頭部的運動，例如如拳擊、橄欖球，提供孩子更全面的保護。
        </p>
    </div>
    <!--- 新生兒聽損基因篩檢的準確率 --->
    <div>
        <p class="fw-bold">新生兒聽損基因篩檢的準確率</p>
        <p>目前的新生兒感覺神經性聽損基因篩檢已涵蓋華人90%的聽損基因點位，而台灣感覺神經性聽損兒童的基因變異，又以GJB2、SLC26A4(又稱PDS)基因及粒線體12s RNA基因這三個基因最為常見，大約佔所有神經性聽損兒童的1/3。</p>
    </div>
    <!--- 檢查方式 --->
    <div>
        <p class="fw-bold">檢查方式</p>
        <p>
            在寶寶出生48小時後，可連同新生兒篩檢採取少許的腳跟血，寄交相關單位進行檢驗，不會額外增加寶寶抽血的負擔。
        </p>
        
    </div>

    <!--- 常見問題 --->
    <div>
        <br />
        <p class="fw-bold">常見Q&A</p>
        <br />
        <div class="text">
            <p>Q:聽損基因篩檢可以取代傳統物理性的聽力篩檢嗎?</p>
            <p>A:新生兒聽損基因篩檢無法取代現行的新生兒聽力篩檢，但可輔助新生兒聽力篩檢。兩種篩檢方式都有其優缺點，不能互相取代，但可相輔相成，提高聽損患者的檢出率。</p>
            <p>Q:接受新生兒聽力篩檢或聽損基因篩檢，如果檢查正常，是不是一定不會有聽力障礙？</p>
            <p>A:新生兒聽力篩檢無法篩檢出一些輕度、晚發性或耳毒性聽損的患者；而聽損基因篩檢也僅針對常見之聽損基因突變進行檢查。故兩者檢查結果正常，仍不能排除因病原菌感染、環境噪音、罕見的基因突變及用藥等後天因素所造成的聽損或聽力障礙。</p>            
            <p>Q:我們夫妻雙方家族都沒有人患有聽損，會生下聽損的小孩嗎？</p>
            <p>
                A:常見聽損基因如GJB2基因及SLC26A4(又稱PDS)基因的突變大多屬於隱性遺傳。若夫妻雙方皆為基因突變的帶因者，臨床上聽力正常，下一代仍都有1/4的機會會發生聽損。
            
            </p>
            <p>Q:新生兒聽損基因篩檢，是否可檢出所有聽損基因變異？</p>
            <p>A:目前已知有超過上百個基因與聽障發生有關，本篩檢無法包含全部的變異點位，但已涵蓋九成以上華人較常見的聽損基因突變點位。 </p>
            <p>Q:這項檢查是否有健保給付呢?</p>
            <p>A:目前新生兒感覺神經性聽損基因篩檢尚無健保給付，需自費進行。</p>
        </div>
    </div>
    <!-- 返回列表按鈕:水平置中 -->
    <div class="text-center">
        <a class="btn btn-secondary" href="~/FHealthInformation/FHealthInformation" role="button">返回列表</a>
    </div>
</div>