@section Styles {
    <link href="~/msit155e/css/drugs/stylesheet.css" rel="stylesheet" />
}


@{
    ViewData["Title"] = "衛教資訊";
}
<div class="article">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <button type="button" id="tabButtons-1" class="nav-item nav-link active" data-bs-toggle="tab" data-bs-target="#tabButtons-pane-1" role="tab" aria-controls="tabButtons-pane-1" aria-selected="true">   婦科   </button>
                        <button type="button" id="tabButtons-2" class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#tabButtons-pane-2" role="tab" aria-controls="tabButtons-pane-2" aria-selected="false">   產科   </button>
                        <button type="button" id="tabButtons-3" class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#tabButtons-pane-3" role="tab" aria-controls="tabButtons-pane-3" aria-selected="false">   兒科   </button>
                    </div>
                </nav>

                <div class="tab-content">
                    <div id="tabButtons-pane-1" class="tab-pane active" role="tabpanel" aria-labelledby="tabButtons-1" >
                        <!--Table 婦科-->
                        <table class="table table-primary table-bordered table-hover table-striped">
                            <thead>
                                <tr style="text-align:center">
                                    <th style="width:300px">編號</th>
                                    <th>文章標題</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center">
                                    <td>1</td>
                                    <td><a href="~/FHealthInformation/Blog2">子宮頸抺片檢查</a></td>
                                </tr>
                                <tr style="text-align:center">
                                    <td style="text-align:center">2</td>
                                    <td><a href="~/FHealthInformation/Blog3">乳房超音波檢查</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tabButtons-pane-2" class="tab-pane" role="tabpanel" aria-labelledby="tabButtons-2" style="display:none">
                        <!--Table 產科-->
                        <table class="table table-primary table-bordered table-hover table-striped" >
                            <thead>
                                <tr style="text-align:center">
                                    <th style="width:300px">編號</th>
                                    <th>文章標題</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center">
                                    <td>1</td>
                                    <td><a href="~/FHealthInformation/Blog1">孕吐</a></td>
                                </tr>
                                <tr style="text-align:center">
                                    <td style="text-align:center">2</td>
                                    <td><a href="~/FHealthInformation/Blog4">高層次超音波檢查</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tabButtons-pane-3" class="tab-pane" role="tabpanel" aria-labelledby="tabButtons-3" style="display:none">
                        <table class="table table-primary table-bordered table-hover table-striped">
                            <thead>
                                <tr style="text-align:center">
                                    <th style="width:300px">編號</th>
                                    <th>文章標題</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align:center">
                                    <td>1</td>
                                    <td><a href="~/FHealthInformation/Blog5">新生兒黃疸</a></td>
                                </tr>
                                <tr style="text-align:center">
                                    <td style="text-align:center">2</td>
                                    <td><a href="~/FHealthInformation/Blog6">新生兒感覺神經性聽損基因篩檢</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- col end -->
            </div> <!-- row end -->
        </div>
    </div>


</div>

@section Scripts {
    <script>
        const a1 = document.getElementById('tabButtons-1');
        const D1 = document.getElementById('tabButtons-pane-1');

        // $(document).ready(function () {
        //     D1.style.display = 'block';
        // });

        a1.addEventListener('click', function () {
            D1.style.display = 'block';
            D2.style.display = 'none';
            D3.style.display = 'none';
        });

        const b1 = document.getElementById('tabButtons-2');
        const D2 = document.getElementById('tabButtons-pane-2');
        b1.addEventListener('click', function () {
            D2.style.display = 'block';
            D1.style.display = 'none';
            D3.style.display = 'none';
        });

        const c1 = document.getElementById('tabButtons-3');
        const D3 = document.getElementById('tabButtons-pane-3');
        c1.addEventListener('click', function () {
            D3.style.display = 'block';
            D1.style.display = 'none';
            D2.style.display = 'none';
        });
    </script>
}