@model ClinicWeb.Areas.Member.Models.MemberMemberList

@section Styles {
    
    <link href="~/msit155e/css/MemberLogin/MemberLogin.css" rel="stylesheet">

}



<partial name="_SweetAlertPartial" />
<div class="panel">
    <div class="panel-header">
        網站會員
    </div>
    <div class="panel2">
        <div class="panel3">
            <div class="left-side">
                <!-- Image goes here -->
                <img src="~/msit155e/images/MemLogin/baby.png" class="d-block w-100" alt="...">
                @*  <button class="register-btn">註冊</button> *@
            </div>
            <form id="login-form" asp-controller="ClientPage" asp-action="LoginForClient" method="post" role="form" class="right-side">
                <div class="login-title">
                    會員登入
                </div>
                <div class="welcome-message">
                    歡迎來到寶育婦幼
                </div>
                @*   <form id="login-form" asp-controller="ClientPage" asp-action="LoginForClient" method="post" role="form" style="display: "> *@
                <div class="input-group">
                    <input type="text" asp-for="MemEmail" placeholder="信箱">
                </div>
               
                <div class="input-group">
                    <input type="password" asp-for="MemPassword" placeholder="密碼">
                </div>
                <!--帳密輸入錯誤的提醒-->
                @if (ViewData["ErrorMessage"] != null)
                {
                    <div class="text-danger input" style="color:red">@ViewData["ErrorMessage"]</div>
                }
                <!--google帳號授權失敗-->
                @if (TempData["Msg"] != null)
                {
                    <div class="alert alert-warning input" role="alert">
                        @Html.Raw(TempData["Msg"])
                    </div>
                }
                <!--沒有對應帳號的提醒-->
                @if (TempData["RegisterPrompt"] != null)
                {
                    <div class="alert alert-warning input" role="alert">
                        @Html.Raw(TempData["RegisterPrompt"])
                    </div>
                }
                <div class="google-btn-container">
                <a asp-controller="LoginGoogletest" asp-action="GenerateGoogleLoginUrl">
                @* <a asp-controller="LoginGoogletest" asp-action="Logingoogle"> *@
                    <button type="button" style="border: none;background-color: transparent;">
                        <div style="
                                            display: flex;
                                            transition: background-color .218s, border-color .218s;
                                            -webkit-user-select: none;
                                            -webkit-appearance: none;
                                            background-color: #fff;
                                            background-image: none;
                                            border: 1px solid #dadce0;
                                            color: #3c4043;
                                            cursor: pointer;
                                            font-family: 'Google Sans', arial, sans-serif;
                                            font-size: 14px;
                                            height: 40px;
                                            letter-spacing: 0.25px;
                                            outline: none;
                                            overflow: hidden;
                                            padding: 0 12px;
                                            position: relative;
                                            text-align: center;
                                            vertical-align: middle;
                                            white-space: nowrap;
                                            width: auto;
                                            align-items: center;
                                            border-radius: 4px;">
                            <div style="height:18px;margin-right:8px;min-width:18px;width:18px;">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="LgbsSe-Bz112c"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                            </div>
                            <span style="font-weight: 500;font-family: 'Google Sans', arial, sans-serif;letter-spacing: 0.25px;">
                                使用 Google 帳戶登入
                            </span>
                        </div>
                    </button>
                </a>
                </div>


                <button class="login-btn">登入</button>
                <div class="forgot-password-container">
                    <a asp-controller="ForgotPassword" asp-action="ForgotPasswordIndex" class="forgot-password">忘記密碼?</a>
                </div>
                <div class="forgot-password-container">
                <a asp-controller="ClientPage" asp-action="Register" class="forgot-password">還不是會員? 前往註冊</a>
                </div>

                <div class="demo-buttons-container" style="margin-top: 20px; display: flex; justify-content: space-around; width: 100%;">
                    <button type="button" id="fillDemoUser1" class="demo-btn">1001 李嘉欣</button>
                    <button type="button" id="fillDemoUser2" class="demo-btn">新註冊</button>
                </div>


            </form>

        </div>
    </div>
</div>

               
<script>
    document.getElementById('fillDemoUser1').addEventListener('click', function () {
        document.getElementById('MemEmail').value = 'jiaxin.li@example.com';
        document.getElementById('MemPassword').value = 'pass1234';
    });

    document.getElementById('fillDemoUser2').addEventListener('click', function () {
        document.getElementById('MemEmail').value = 'kiratasi@gmail.com';
        document.getElementById('MemPassword').value = 'password123';
    });

</script>