<head>
    <link rel="stylesheet" href="~/css/LoginStyle.css" asp-append-version="true" />
</head>
}
<div class="login-box">
    <h2>Login</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <a class="btn btn-default submit" asp-controller="FmemberB" asp-action="MemberIndex">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    
      
    </form>
    <a href="#">
        Register
    </a>

</div>
<script src="~/js/Login.js"></script>
