@model MemberMemberList

<head>
    <link rel="stylesheet" href="~/css/LoginStyle.css" asp-append-version="true" />
</head>
}
<div class="login-box">
    <h2>Login</h2>
    <form id="MemberloginForm"  asp-controller="ClientPage" asp-action="LoginForClient" method="post">
        <div class="user-box">
            <input asp-for="MemEmail" type="text" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input asp-for="MemPassword" type="password" required="">
            <label>Password</label>
        </div>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="text-danger" style="color:red">@ViewData["ErrorMessage"]</div>
        }

        <!-- 其他表單字段 -->
        <a href="#" id="MemberLogin">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>


        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
        </a>


        <div id="buttonDiv"></div>
    </form>

    <a asp-controller="LoginGoogletest" asp-action="Logingoogle" class="btn btn-primary form-control">google登入</a>

</div>



<script src="https://accounts.google.com/gsi/client" async></script>
<script>
    document.getElementById('MemberLogin').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default link behavior

        // Submit the form
        document.getElementById('MemberloginForm').submit();
    });

    function handleCredentialResponse(response) {
        console.log("Encoded JWT ID token: " + response.credential);
        // Handle the credential response as needed
    }

    window.onload = function () {
        google.accounts.id.initialize({
            client_id: "526974450781-r15eef63hrf196gkhsn0tjuqkvk49vjm.apps.googleusercontent.com",
            callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
        );
        google.accounts.id.prompt(); // also display the One Tap dialog
    }
</script>



