<!DOCTYPE html>
<html>
<head>
    <title>叫號畫面</title>
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    @*     <link href="~/build/css/custom.min.css" rel="stylesheet">
    <link href="~/css/clinicStyle.min.css" rel="stylesheet" asp-append-version="true"> *@
    <link href="~/msit155e/css/clinicroomsys/view_callingpage.css" rel="stylesheet" />
</head>
<body>
    <div class="outer">
        <div class="row">

            <div class="col-8">
                <div class="x_panel">
                    <p>123</p>
                </div>
            </div>

            <div class="col-4">
                <div class="x_panel">
                    <div id="c_dept_counter" class="c_dept_counter">
                        <table id="TABLE_0" class="c_table">
                            <tr id="TABLE_tr1_0">
                                <td id="TABLE_td1_0" class="c_table_td11" onclick="get_tag('01')">01 診</td>
                                <td id="TABLE_td2_0" rowspan="3" class="c_table_td12"><div id="c_table_td12_a1" class="c_table_td12_nb"></div></td>
                            </tr>
                            <tr id="TABLE_tr2_0">
                                <td id="TABLE_td21_0" class="c_table_td2">魏淑鉁</td>
                            </tr>
                            <tr id="TABLE_tr3_0"><td id="TABLE_td31_0" title="醫師約診" class="c_table_td3">醫師約診</td></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>