@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@*     <a asp-area="Temp" asp-controller="Employee" asp-action="Login"><h2>連結至樣板首頁</h2></a>
    <a asp-area="Employee" asp-controller="Main" asp-action="Index"><h2>連結至專題測試區-後台系統</h2></a>
    <a asp-controller="ClientPage" asp-action="Example"><h2>前台樣板參考</h2></a> *@
    <a asp-area="Employee" asp-controller="Main" asp-action="Login"><h2>員工後台登入</h2></a>
    <a asp-controller="ClientPage" asp-action="LoginTest"><h2>會員前台登入</h2></a>
    <a asp-controller="FArrival" asp-action="Index"><h2>報到機</h2></a>
</div>

