@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">空白首頁</h1>

    <a asp-area="Temp" asp-controller="Employee" asp-action="Login"><h2>連結至樣板首頁</h2></a>
    <a asp-area="Employee" asp-controller="Main" asp-action="Index"><h2>連結至專題測試區-後台系統</h2></a>
</div>

