.nkj_Height_10p {
    height: 10%;
}
.nkj_Height_20p {
    height: 20%;
}
.nkj_Height_30p {
    height: 30%;
}
.nkj_Height_40p {
    height: 40%;
}
.nkj_Height_50p {
    height: 50%;
}
.nkj_Height_60p {
    height: 60%;
}
.nkj_Height_70p {
    height: 70%;
}
.nkj_Height_80p {
    height: 80%;
}
.nkj_Height_90p {
    height:90%;
}
.nkj_Height_100p {
    height: 100%;
}


.nkj_Height_renderpage {
    height: 90%;
}