<div class="menu_section">
    <h3>功能列表</h3>
    <ul class="nav side-menu">
        @*side-menu會導致摺疊變形*@
        <li>
            <a><i class="fa fa-home"></i> 會員管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-area="Employee" asp-controller="Main" asp-action="Index">一個連結1</a></li>
                <li><a asp-area="Employee" asp-controller="Main" asp-action="Index2">一個連結2</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-edit"></i> 差勤管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-action="Index3">一個連結3</a></li>
                <li><a asp-action="Index4">一個連結4</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-desktop"></i> 掛號系統 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-area="Employee" asp-controller="ApptSys" asp-action="Index">掛號管理系統</a></li>
                <li><a asp-area="Employee" asp-controller="ApptSys" asp-action="ClinicInfoPartial">查詢病患掛號</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-table"></i> 排班系統 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-action="Index7">一個連結7</a></li>
                <li><a asp-action="Index8">一個連結8</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-bar-chart-o"></i> 病例系統 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-action="Index9">一個連結9</a></li>
                <li><a asp-action="Index10">一個連結10</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-clone"></i> 藥師系統 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-action="Index11">一個連結11</a></li>
                <li><a asp-action="Index12">一個連結12</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-clone"></i> 商城管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-action="Index13">一個連結13</a></li>
                <li><a asp-action="Index14">一個連結14</a></li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-clone"></i> 設施管理 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-action="Index15">一個連結15</a></li>
                <li><a asp-action="Index16">一個連結16</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="menu_section">
    <h3>額外功能</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-bug"></i> 一個摺疊區 <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
                <li><a asp-action="AAA">一個連結</a></li>
            </ul>
        </li>
    </ul>
</div>