@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>報到機</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Datatables -->
    <link href="~/lib/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.fontawesome.min.css" rel="stylesheet" />

    <!-- nkj made -->
    <link href="~/msit155e/css/farrival/farrival.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="mb-3 div-userinfo">
                <h4>報到資料</h4>
                <table class="table">
                    <tr>
                        <td>姓名</td>
                        <td id="c_name">111</td>
                    </tr>
                    <tr>
                        <td>性別</td>
                        <td id="c_gender">222</td>
                    </tr>
                    <tr>
                        <td>身分證字號</td>
                        <td id="c_nationalid">333</td>
                    </tr>
                    <tr>
                        <td>生日</td>
                        <td id="c_birthday">444</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="mb-3">
                <table id="apptDataTable" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="display:none">clinicAppt_id</th>
                            <th>日期</th>
                            <th>時段</th>
                            <th>科別</th>
                            <th>醫師名稱</th>
                            <th>診號</th>
                            <th>報到狀態</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Datatables -->
    <script src="~/lib/datatables/js/datatables.bootstrap.min.js"></script>
    <script src="~/lib/datatables/js/datatables.datatables.min.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>

    <!-- nkj made -->
    <script src="~/msit155e/js/farrival/farrival.js"></script>
</body>
</html>