/*左表*/
/*無法反白選擇文字*/
#clinicDataTable tbody {
    user-select: none;
}
/*選擇時row底色*/
    #clinicDataTable tbody .selected {
        background-color: #cce5ff;
    }

/*右表*/
/*無法反白選擇文字*/
#apptDataTable tbody {
    user-select: none;
}
    /*選擇時row底色*/
    #apptDataTable tbody .selected {
        background-color: #cce5ff;
    }

.input_noborder {
    border: hidden;
    background-color:transparent !important;
}

.x_btn_border {
    border: 1px solid #ced4da;
}

.btn:disabled {
    background-color: rgba(184,138,138,0.5);
    color: darkred;
    border-color:darkred;
}
