@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="ClientPage" asp-action="Login">歡迎 @User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="ClientPage" asp-action="Logout">登出</a>
    </li>
}
else
{

    <li class="nav-item">
        <a class="nav-link" asp-controller="ClientPage" asp-action="Login">登入</a>
    </li>
}
