<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">看診紀錄</h5>
                <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="col-sm-12">
                    <form id="recordaddf">
                        @* action="/ClinicWeb/SaveMedicalRecord" method="post" *@
                        <label for="bp">血壓:</label>
                        <input type="text" class="form-control" id="addbp" name="bp" required>

                        <label for="pulse">脈搏:</label>
                        <input type="number" class="form-control" id="addpulse" name="pulse">

                        <label for="bt">體溫:</label>
                        <input type="number" class="form-control" id="addbt" name="bt" step="0.1" required>

                        <label for="cc">主述:</label>
                        <textarea id="addcc" class="form-control" name="cc" required></textarea>

                        <label for="disposal">醫囑:</label>
                        <textarea id="adddisposal" class="form-control" name="disposal" required></textarea>

                        <label for="prescribe">處方:</label>
                        <textarea id="addprescribe" class="form-control" name="prescribe"></textarea>

                    </form>
                    <br>
                        <button id="submitrd" class="btn btn-primary">新增</button>
                    </div>
            </div>
        </div>
    </div>
</div>
