@model ScheduleClinicInfo

<div class="row" style="display: block;">
	<div class="col-md-12 col-sm-12 ">
		<div class="x_panel">
			<div class="x_title">
				<h2>病患掛號紀錄</h2>
				<ul class="nav navbar-right panel_toolbox">
					@*<li>
					<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					</li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Settings 1</a>
					<a class="dropdown-item" href="#">Settings 2</a>
					</div>
					</li>
					<li>
					<a class="close-link"><i class="fa fa-close"></i></a>
					</li> *@
				</ul>
				<div class="clearfix"></div>
			</div>
			@* <div class="mb-3" style="overflow: auto">
				<div class="col-md-4">
					<label asp-for="Date" class="form-label">掛號月份: </label>
					<select asp-for="Date" class="form-control" asp-items="@ViewBag.Date">
						<option>--請選擇--</option>
					</select>
				</div>
				<div class="col-md-4">
					<label asp-for="ClinicTime.ClinicShifts" class="form-label">時段: </label>
					<select asp-for="ClinicTime.ClinicShifts" class="form-control" asp-items="@ViewBag.ClinicShifts">
						<option>全部</option>
					</select>
				</div>
				<div class="col-md-4">
					<label asp-for="Doctor.Department" class="form-label">科別: </label>
					<select asp-for="Doctor.Department" class="form-control" asp-items="@ViewBag.Department">
						<option>全部</option>
					</select>
				</div>
			</div> *@
			<div class="x_content">
				<div class="row">
					<div class="col-sm-12">
						<div class="card-box table-responsive">
							<table id="patientApptTable" class="table table-striped table-bordered" style="width:100%">
								<thead>
									<tr>
										<th style="display:none">
											id
										</th>
										<th>
											日期
										</th>
										<th>
											時段
										</th>
										<th>
											科別
										</th>
										<th>
											醫師名稱
										</th>
										<th>
											診號
										</th>
										<th>
											退掛
										</th>
										<th>
											看診狀態
										</th>
										<th>
											@*操控欄位*@
										</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>