@{
    ViewData["Title"] = "藥師管理系統";
}

@section ModulesStyles
{
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

}



@section Styles {

}
<h1>適應症管理</h1>
<div class="col-md-6 col-sm-6 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>適應症一覽表</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Settings 1</a>
                        <a class="dropdown-item" href="#">Settings 2</a>
                    </div>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        @* 新增按鈕的排版 *@
        <div class="mb-6" style="overflow: auto">
            <div class="col-md-6">
                <label class="form-label"> </label>
                <button id="newClinicalUsebtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ClinicalUseCreate">新增適應症</button>
            </div>
        </div>
        <!--新增畫面的內容-->
        <div class="modal fade" id="ClinicalUseCreate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <partial name="~/Areas/Drugs/Views/Partial/_ClinicalUseCreatePartial.cshtml" />
                </div>
            </div>
        </div>
        @* 如果要加搜尋選項放這裡 *@
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table id="dtCU" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="display:none">id</th>
                                    <th>適應症代碼</th>
                                    <th>適應症名稱</th>    
                                    <th>操作功能</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* 沒有用到model暫時保留 *@
<div class="row">
   
    <div class="col-md-10">
        <form asp-area="Drugs" asp-controller="DrugsApi" asp-action="Details">
            @* <div class="form-group">
                <label asp-for="FTypeCode" class="control-label"> 劑型代碼 </label>
                <input asp-for="FTypeCode" class="form-control" id="fTypeCode" />
                <label asp-for="FType" class="control-label"> 劑型名稱 </label>
                <input asp-for="FType" class="form-control" id="fType" />
            </div> *@
            <div class="form-group">
                <label class="control-label"> 適應症代碼 </label>
                <input class="form-control" id="fClinicalUseCode" />
                <label class="control-label"> 適應症名稱 </label>
                <input class="form-control" id="fClinicalUse" />
            </div>
        </form>
    </div>
   
</div>


@section Modules
{
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

}

@section Scripts {


    <script>
        //進入畫面時或新增刪出修改完畢，載入DB中適應症的資料
        function QueryClinicalUseInfo(){
            //alert("CUList");
            $('#dtCU').dataTable({

                ajax: {
                    type: 'GET',
                    url: (`/Drugs/DrugsApi/ClinicalUseInfo`),
                    dataSrc: function (json) { return json; }
                },
                destroy: true,
                columns: [
                    { "data": "id", "visible": false },
                    { "data": "適應症代碼", "width": "20%" },
                    { "data": "適應症名稱", "width": "60%" },
                    {
                        "data": null, title: "操作功能", "width": "20%",
                        render: function (data, type, row) {
                            return '<button type="button" name="Editor" class="btn btn-warning btn-sm"> 編輯 </button>'+
                                   '<button type="button"  name="Delete" class="btn btn-danger btn-sm"> 刪除 </button>'
                        },
                    }
                ],
                fixedHeader: {
                    header: true
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
                }
            });

        }
        QueryClinicalUseInfo();
        
        //帶入指向的資料在畫面上
        const CUCode = document.getElementById('fClinicalUseCode');
        const CU = document.getElementById('fClinicalUse');
        $(document).on('click', 'button[name=Editor]', function () {
            var table = $('#dtCU').DataTable();
            var tr = $(this).closest('tr');
            var data = table.row(tr).data();
            CUCode.value = data.適應症代碼;
            CU.value = data.適應症名稱;
        })

        //新增適應症按鈕
        
        const btnSubmit = document.querySelector('#saveButton');        
        
        
        btnSubmit.addEventListener('click', async (event)=> {
            console.log(btnSubmit); //測始有無抓到按鈕;
            //alert('儲存');
            event.preventDefault(); //停止預設行為
            
            //FormData
            const formData = new FormData(document.querySelector('#ClinicalUseForm'));
           
            //測試是否有抓取Form上的值
            for(const pair of formData.entries()){
                console.log(pair[0]);
                console.log(pair[1]);
            }
            const url='@Url.Content("~/Drugs/DrugsApi/ClinicalUseCreate")';
            const response = await fetch(url, {
                "method": "POST",
                "body": formData
            });
            const data = await response.text();
            console.log(data);
            clearForm();
            addModalClose();
            
            QueryClinicalUseInfo();
        })

        //新增按鈕按下後會清空modal內容
        function clearForm() {
            document.getElementById('ClinicalUseForm').reset();
        }
        
        //新增按鈕按下後關閉modal視窗
        function addModalClose() {
            $('#ClinicalUseCreate').modal('hide');
        }
    </script>
}

