@{
    ViewData["Title"] = "藥師管理系統";
}

@section ModulesStyles
{
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

}



@section Styles {

}
<h1>副作用管理</h1>
<div class="col-md-6 col-sm-6 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>副作用一覽表</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--新增按鈕的排版-->
        <div class="mb-6" style="overflow: auto">
            <div class="col-md-6">
                <label class="form-label"> </label>
                <button id="newSideEffectbtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#SideEffectCreate">新增副作用</button>
            </div>
        </div>
        <!--新增畫面的內容-->
        <div class="modal fade" id="SideEffectCreate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <partial name="~/Areas/Drugs/Views/Partial/_SideEffectCreatePartial.cshtml" />
                </div>
            </div>
        </div>
        @* 如果要加搜尋選項放這裡 *@
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <!--編輯畫面的內容-->
                        <div class="modal fade" id="SideEffectEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" id="divEditInfo">
                                    <partial name="~/Areas/Drugs/Views/Partial/_SideEffectEditPartial.cshtml" />
                                </div>
                            </div>
                        </div>
                        <table id="dtSE" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="display:none">id</th>
                                    <th>副作用代碼</th>
                                    <th>副作用名稱</th>
                                    <th>副作用名稱</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {


    <script>
        //進入畫面時或新增刪除修改完畢後，載入DB副作用的資料
        function QuerySideEffectInfo() {
            //alert("SEList");
            $('#dtSE').dataTable({
                ajax: {
                    type: 'GET',
                    url: (`/Drugs/DrugsApi/SideEffectInfo`),
                    dataSrc: function (json) { return json; }
                },
                destroy: true,
                columns: [
                    { "data": "id", "visible": false },
                    { "data": "副作用代碼", "width": "20%" },
                    { "data": "副作用名稱", "width": "60%" },
                    {
                        "data": null, title: "操作功能", "width": "20%",
                        render: function (data, type, row) {
                            return '<button type="button" name="Edit" data-id="' + row.id + '" class="btn btn-warning btn-sm"> 編輯 </button>' +
                                '<button type="button" name="Delete" data-id="' + row.id + '" class="btn btn-danger btn-sm"> 刪除 </button>'
                        },
                    }
                ],
                fixedHeader: {
                    header: true
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
                }
            });
        }
        QuerySideEffectInfo();

        //修改副作用按鈕-->彈出 modal
        $(document).on('click', 'button[name=Edit]', function () {
            var id = $(this).data('id');
            console.log(id);
            //AJAX讀選取到的DB
            $.ajax({
                type: 'GET',
                url: '/Drugs/DrugsApi/EditSideEffect/' + id,
                success: function (data) {
                    //成功拿到資料的話將資料代入modal中
                    $('#SideEffectEdit .modal-content').html(data);
                    //顯示modal視窗
                    $('#SideEffectEdit').modal('show');
                },
                error: function (error) {
                    console.log('Error fetching data:', error);
                }
            });
        });

        //保存按鈕
        const btnEdit = document.querySelector('#editSaveButton');
        $(document).on('click', '#editSaveButton', async (event) => {
            event.preventDefault();
            const id = $('#FIdSideEffect').val();
            const formData = new FormData($('#form_SideEffectEdit')[0]);            
            const urlEdit = `/Drugs/DrugsApi/EditSideEffect/${id}`;
            try {
                const response = await fetch(urlEdit, {
                    "method": "POST",
                    "body": formData
                });
                if (response.ok) {
                    alert('修改成功');
                    QuerySideEffectInfo();
                    $('#SideEffectEdit').modal('hide');
                } else {
                    console.error('Update failed, status code:', response.status);
                    const errorData = await response.json();
                    console.error('修改失敗，狀態碼：', response.status);
                }
            } catch (error) {
                console.error(error);
            }
        })

        //刪除副作用按鈕
        $(document).on('click', 'button[name=Delete]', async (event) => {
            event.preventDefault(); //停止預設行為
            var id = $(event.target).data('id');
            console.log(id);
            if (confirm('確定要刪除嗎?')) {
                const urlDelete = `/Drugs/DrugsApi/DeleteSideEffect/${id}`;
                try {
                    const response = await fetch(urlDelete, function () {
                        method: "POST"
                    });
                    if (response.ok) {
                        alert('刪除成功');
                        QuerySideEffectInfo();
                    } else {
                        console.error('刪除失敗，狀態碼:', response.status);
                    }
                } catch (error) {
                    console.error(error);
                }
            }
        })


        //新增副作用按鈕

        const btnSumbit = document.querySelector('#saveButton');
        btnSumbit.addEventListener('click', async (event) => {
            console.log(btnSumbit); //測試有無抓到按鈕
            event.preventDefault(); //停止預設行為

            //FormData
            const formData = new FormData(document.querySelector('#SideEffectForm'));

            //測試是否有抓取Form上的值
            for (const pair of formData.entries()) {
                console.log(pair[0] + ':' + pair[1]);
            }
            try {
                const url = `@Url.Content("~/Drugs/DrugsApi/SideEffectCreate")`;
                const response = await fetch(url, {
                    method: "POST",
                    body: formData
                });
                if (response.ok) {
                    const data = await response.text();
                    clearForm();
                    addModalClose();
                    alert('新增成功');
                    QuerySideEffectInfo();
                } else {
                    console.error('發生錯誤，狀態碼:', response.status);
                }
            } catch (error) {
                console.error(error);
            }
        })

        //新增按鈕按下後會清空modal內容
        function clearForm() {
            document.getElementById('SideEffectForm').reset();
        }

        //新增按鈕按下後關閉modal視窗
        function addModalClose() {
            $('#SideEffectCreate').modal('hide');
        }

    </script>
}

@section Modules
{
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

}
