@model PharmacyTTypeList

@{
    ViewData["Title"] = "藥師管理系統";
}

@section ModulesStyles
{
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

}



@section Styles {

}
<h1>劑型管理</h1>
<div class="col-md-6 col-sm-6 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>劑型一覽表</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>               
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--新增按鈕的排版-->
        <div class="mb-6" style="overflow: auto">
            <div class="col-md-2">
                <label class="form-label"> </label>
                <button id="newTypebtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#TypeCreate">新增劑型</button>
            </div>
        </div>
        <!--新增畫面的內容-->
        <div class="modal fade" id="TypeCreate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <partial name="~/Areas/Drugs/Views/Partial/_TypeCreatePartial.cshtml" />
                </div>
            </div>
        </div>

        @* 如果要加搜尋選項放這裡 *@
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table id="dtType" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="display:none">id</th>
                                    <th>劑型代碼</th>
                                    <th>劑型名稱</th>
                                    <th>操作功能</th> @* 會被下面的title覆蓋 *@
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


@section Scripts {
    <script>
        //dataTable 讀取資料，要加try catch防止讀不到資料
        //進入畫面時或新增刪除修改完畢後，載入DB副作用的資料
        function QueryTypeInfo() {
            //alert("ready");
            $('#dtType').dataTable({

                ajax: {
                    type: 'GET',
                    url: (`/Drugs/drugsapi/TypeInfo`),
                    dataSrc: function (json) { return json; }
                },
                destroy: true,
                columns: [
                    { "data": "id", "visible": false },
                    { "data": "劑型代碼", "width": "20%" },
                    { "data": "劑型名稱", "width": "60%" },
                    {
                        "data": null, title: "操作功能", "width": "20%",
                        render: function (data, type, row) {
                            return '<button type="button" name="Editor" class="btn btn-warning btn-sm"> 編輯 </button>' + 
                                   '<button type="button" name="Delete" data-id="'+row.id+'" class="btn btn-danger btn-sm"> 刪除 </button>'
                        },
                    }
                ],
                fixedHeader: {
                    header: true
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
                }
            });
        }
        QueryTypeInfo();
        
    </script>
}

@section Modules
{
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

}

