@model PharmacyTTypeList

@{
    ViewData["Title"] = "藥師管理系統";
}

@section ModulesStyles
{
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

}



@section Styles {

}
<h1>劑型管理</h1>
<div class="col-md-6 col-sm-6 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>劑型一覽表</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>               
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!--新增按鈕的排版-->
        <div class="mb-6" style="overflow: auto">
            <div class="col-md-6">
                <label class="form-label"> </label>
                <button id="newTypebtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#TypeCreate">新增劑型</button>
            </div>
        </div>
        <!--新增畫面的內容-->
        <div class="modal fade" id="TypeCreate" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <partial name="~/Areas/Drugs/Views/Partial/_TypeCreatePartial.cshtml" />
                </div>
            </div>
        </div>

        @* 如果要加搜尋選項放這裡 *@
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <!--編輯畫面的內容-->
                        <div class="modal fade" id="TypeEdit" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content" id="divEditInfo">
                                    <partial name="~/Areas/Drugs/Views/Partial/_TypeEditPartial.cshtml" />
                                </div>
                            </div>
                        </div>

                        <table id="dtType" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="display:none">id</th>
                                    <th>劑型代碼</th>
                                    <th>劑型名稱</th>
                                    <th>操作功能</th> @* 會被下面的title覆蓋 *@
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


@section Scripts {
    <script>
        //dataTable 讀取資料，要加try catch防止讀不到資料
        //進入畫面時或新增刪除修改完畢後，載入DB副作用的資料
        function QueryTypeInfo() {
            //alert("ready");
            $('#dtType').dataTable({

                ajax: {
                    type: 'GET',
                    url: (`/Drugs/drugsapi/TypeInfo`),
                    dataSrc: function (json) { return json; }
                },
                destroy: true,
                columns: [
                    { "data": "id", "visible": false },
                    { "data": "劑型代碼", "width": "20%" },
                    { "data": "劑型名稱", "width": "60%" },
                    {
                        "data": null, title: "操作功能", "width": "20%",
                        render: function (data, type, row) {
                            return '<button type="button" name="Edit" data-id="' +row.id+ '"class="btn btn-warning btn-sm"> 編輯 </button>' +
                                '<button type="button" name="Delete" data-id="'+row.id+'" class="btn btn-danger btn-sm"> 刪除 </button>'
                        },
                    }
                ],
                fixedHeader: {
                    header: true
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
                }
            });
        }
        QueryTypeInfo();
        
        //修改劑型按鈕-->彈出 modal
        $(document).on('click', 'button[name=Edit]', function () {
            var id = $(this).data('id');
            console.log(id);
            //AJAX讀取選到的DB
            $.ajax({
                type: 'GET',
                url: '/Drugs/DrugsApi/EditType/' + id,
                success: function (data) {
                    //成功拿到的話將資料代入modal中
                    $('#TypeEdit .modal-content').html(data);
                    //顯示modal視窗
                    $('#TypeEdit').modal('show');
                },
                error: function (error) {
                    console.log('Error fetching data:', error)
                }
            });
        });
        //保存按鈕
        const btnEdit = document.querySelector('#editSaveButton');
        $(document).on('click', '#editSaveButton', async (event) => {
            event.preventDefault();
            const id=$('#FIdType').val()
            const formData = new FormData($('#form_TypeEdit')[0]);
            for (const pair of formData.entries()) {
                console.log(pair[0]);
                console.log(pair[1]);
            }
            const urlEdit = `/Drugs/DrugsApi/EditType/${id}`;
            try {
                const response = await fetch(urlEdit, {
                    "method": "POST",
                    "body": formData
                });
                if (response.ok) {
                    
                    alert('修改成功');
                    QueryTypeInfo();
                    $('#TypeEdit').modal('hide');
                } else {
                    console.error('Update failed, status code:', response.status);
                    const errorData = await response.json();
                    console.error('修改失敗，狀態碼：', response.status);
                }
            } catch (error) {
                console.error(error);
            }
        })

        //刪除劑型按鈕
        $(document).on('click', 'button[name=Delete]', async (event) => {
            event.preventDefault();
            var id = $(event.target).data('id');
            console.log(id);
            if (confirm('確定要刪除嗎?')) {
                const urlDelete = `/Drugs/DrugsApi/DeleteType/${id}`;
                try {
                    const response = await fetch(urlDelete, function () {
                        method: "POST"
                    });
                    if (response.ok) {
                        alert('刪除成功');
                        QueryTypeInfo();
                    } else {
                        console.error('刪除失敗，狀態碼：', response.status);
                    }
                }
                catch (error) {
                    console.error(error);
                }
            }
        })

        //新增劑型按鈕
        const btnSubmit = document.querySelector('#saveButton');

        btnSubmit.addEventListener('click', async (event) => {
            console.log(btnSubmit);
            event.preventDefault(); //停止預設行為

            //FormData
            const formData = new FormData(document.querySelector('#TypeForm'));

            //測試是否有抓取Form上的值
            for(const pair of formData.entries()){
                console.log(pair[0]);
                console.log(pair[1]);
            }
            try {
                const url = '@Url.Content("~/Drugs/DrugsApi/TypeCreate")'
                const response = await fetch(url, {
                    "method": "POST",
                    "body": formData
                });
                if (response.ok) {
                    const data = await response.text();
                    clearForm();
                    addModalClose();
                    alert('新增成功');

                    QueryTypeInfo();
                } else {
                    console.error('發生錯誤，狀態碼:', response.status);
                }
            } catch (error) {
                console.error(error);
            }
        })

        //新增按鈕按下後會清空modal內容
        function clearForm() {
            document.getElementById('TypeForm').reset();
        }

        //新增按鈕按下後關閉modal視窗
        function addModalClose() {
            $('#TypeCreate').modal('hide');
        }
    </script>
}

@section Modules
{
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

}

