body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 500px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 8px;
}

    .login-container h2 {
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

.form-control {
    margin-bottom: 20px;
}


.form-controlVIC {
    display: block;
    width: 100%;
/*    padding: 0.375rem 0.75rem;*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
 /*   border: 1px solid #ced4da;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    .form-controlVIC input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
    }

        .form-controlVIC input[type="checkbox"] {
            display: inline-block;
            width: auto;
        }

    .form-controlVIC label {
        display: block;
        margin-bottom: 5px;
    }

.buttons {
    display: flex;
    flex-direction: column; /* Stack the buttons on top of each other */
    align-items: center; /* Center the buttons horizontally */
}

.button {
    
    text-align: center;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #007bff;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%; /* Make button take full width of the container */
    margin-top: 30px;
}

    .button.reset {
        background-color: #808080;
    }

    .button.sendemail {
        background-color: #9cc0f9;
    }

    .button:hover {
        opacity: 0.9;
    }

.logo img {
    max-width: 200px;  
    max-height: 100px; 
    width: auto; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}
.button-sent {
    background-color: #28a745; /* 绿色表示发送成功 */
    /* 其他您希望应用的样式 */
}

.button-resend {
    background-color: #ffc107; /* 黄色表示提醒用户可以重新发送邮件 */
    /* 其他您希望应用的样式 */
}
