<div class="container">
	<div class="row row-cols-1">
		<div class="col">
			<a asp-controller="ClientPage" asp-action="about">about as</a>
		</div>
		<br>
		<div class="col">
			<a asp-controller="ClientPage" asp-action="blog">blog</a>
		</div>
		<br>
		<div class="col">
			<a asp-controller="ClientPage" asp-action="contact">contact</a>
		</div>
		<br>
		<div class="col">
			<a asp-controller="ClientPage" asp-action="services">services</a>
		</div>
		<br>
		<div class="col">
			<a asp-controller="ClientPage" asp-action="shop">shop</a>
		</div>
		<div class="col">
			<a asp-controller="ClientPage" asp-action="Essence">精華</a>
		</div>
		<br>
	</div>
</div>

