@{
	ViewData["Title"] = "首頁";
}

@section Styles{
	<!-- Font Awesome -->
	<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
}

<style>
    ﻿.star-rating {
        line-height: 32px;
        font-size: 5em;
    }

    .star-rating .fa-star{
        color: yellow;
    }

    .fa-star-half-o{
        color: yellow;
    }
    </style>



<h2>會員評價統計</h2>



<div class="rating-lists" >
    <label class="title" for="comment" style="font-size:20px">就診整體滿意度：</label>
    <label class="title" for="comment" style="font-size:25px; color:firebrick" id="scorep"></label>
    <div class="col">
        <div class="star-rating" id="PatientSatisfaction">
            <span class="fa fa-star-o" data-rating="1" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="2" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="3" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="4" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="5" style="font-size:2em"></span>
        </div>
    </div>
</div>

<div class="rating-lists">
    <label class="title" for="comment" style="font-size:20px">醫師整體積極度：</label>
    <label class="title" for="comment" style="font-size:25px; color:firebrick" id="scored"></label>
    <div class="col">
        <div class="star-rating" id="DocSatisfaction">
            <span class="fa fa-star-o" data-rating="1" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="2" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="3" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="4" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="5" style="font-size:2em"></span>
        </div>
    </div>
</div>
<div class="rating-lists">
    <label class="title" for="comment" style="font-size:20px">診間整體整潔度：</label>
    <label class="title" for="comment" style="font-size:25px; color:firebrick" id="scorec"></label>
    <div class="col">
        <div class="star-rating" id="ClinicSatisfaction">
            <span class="fa fa-star-o" data-rating="1" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="2" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="3" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="4" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="5" style="font-size:2em"></span>
        </div>
    </div>
</div>
<div class="rating-lists">
    <label class="title" for="comment" style="font-size:20px">系統整體滿意度：</label>
    <label class="title" for="comment" style="font-size:25px; color:firebrick" id="scores"></label>
    <div class="col">
        <div class="star-rating" id="SysSatisfaction">
            <span class="fa fa-star-o" data-rating="1" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="2" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="3" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="4" style="font-size:2em"></span>
            <span class="fa fa-star-o" data-rating="5" style="font-size:2em"></span>
        </div>
    </div>
</div>









@section Scripts{
	<script>
		(async() => {
            const url = '@Url.Content("~/Employee/Main/Show_Satisfaction")';
			 const response = await fetch(url, { method:"POST" });
            const datas = await response.json();
			//console.log(datas);

            const docScore = datas.docSatisfaction;
            const patScore = datas.patientSatisfaction;
            const cliScore = datas.clinicSatisfaction;
            const sysScore = datas.sysSatisfaction;

            const scoredLabelp = document.getElementById('scorep');
            scoredLabelp.textContent = patScore;
            const scoredLabeld = document.getElementById('scored');
            scoredLabeld.textContent = docScore;
            const scoredLabelc = document.getElementById('scorec');
            scoredLabelc.textContent = cliScore;
            const scoredLabels = document.getElementById('scores');
            scoredLabels.textContent = sysScore;

         
            //就診滿意度星星
            const patSatisfaction = document.getElementById('PatientSatisfaction');
            const starsp = patSatisfaction.getElementsByClassName('fa');
            // for (let i = 0; i < patScore; i++) {
            //     starsp[i].classList.remove('fa-star-o');
            //     starsp[i].classList.add('fa-star');
            // }
             updateStarRating(starsp, patScore);

            //醫師積極度星星
            const docSatisfaction = document.getElementById('DocSatisfaction');
            const starsd = docSatisfaction.getElementsByClassName('fa');
            updateStarRating(starsd, docScore);

            //診間整潔度星星
            const cliSatisfaction = document.getElementById('ClinicSatisfaction');
            const starsc = cliSatisfaction.getElementsByClassName('fa');
            updateStarRating(starsc, cliScore);

            //系統滿意度星星
            const sysSatisfaction = document.getElementById('SysSatisfaction');
            const starss = sysSatisfaction.getElementsByClassName('fa');
            updateStarRating(starss, sysScore);


            // 根据评分更新星级评分
            function updateStarRating(stars, rating) {
                const fullStars = Math.floor(rating);
                const hasHalfStar = rating - fullStars >= 0.5;

                for (let i = 0; i < stars.length; i++) {
                    if (i < fullStars) {
                        stars[i].classList.remove('fa-star-o');
                        stars[i].classList.add('fa-star');
                    } else if (i === fullStars && hasHalfStar) {
                        stars[i].classList.remove('fa-star-o');
                        stars[i].classList.add('fa-star-half-o');
                    } else {
                        stars[i].classList.remove('fa-star');
                        stars[i].classList.remove('fa-star-half-o');
                        stars[i].classList.add('fa-star-o');
                    }
                }
            }
           




		})();

	</script>
}