@model ClinicWeb.Areas.Drugs.Models.PharmacyTClinicalUseList

<div class="x_panel">
    <div class="x_title">
        <h2>修改適應症資料</h2>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <form  id="form_ClinicalUseEdit" class="form-label-left input_mask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FIdClinicalUse" />
            <!--適應症編號-->
            <div class="form-group row">
                <label asp-for="FClinicalUseCode" class="col-form-label col-md-3 col-sm-3">適應症編號</label>
                <input asp-for="FClinicalUseCode" class="col-md-9 col-sm-9 form-control" />
                <span asp-validation-for="FClinicalUseCode" class="text-danger"></span>
            </div>
            <!--適應症名稱-->
            <div class="form-group row">
                <label asp-for="FClinicalUse" class="col-form-label col-md-3 col-sm-3">適應症名稱</label>
                <input asp-for="FClinicalUse" class="col-md-9 col-sm-9 form-control" />
                <span asp-validation-for="FClinicalUse" class="text-danger"></span>
            </div>
            <!--按鈕-->
            <div class="form-group row" style="margin-top:30px;margin-bottom:5px">
                <div class="col-md-9 col-sm-9  offset-md-8">

                    <button id="editCloseButton" type="button" class="btn btn-secondary" data-dismiss="modal"> 關閉 </button>
                    @* <button class="btn btn-primary" type="reset"> 清除 </button> *@
                    <button id="editSaveButton" type="button" class="btn btn-primary"> 保存 </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @* 
        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } 
    *@
    <script>
     
        // const btnEdit = document.querySelector('#editSaveButton');
        // btnEdit.addEventListener('click', async (event) => {

        //     event.preventDefault();
        //     try {
        //         //FormData
        //         const formData = new FormData(document.querySelector('#form_ClinicalUseEdit'));
        //         //測試是否有抓取Form上的值
        //         for (const pair of formData.entries()) {
        //             console.log(pair[0]);
        //             console.log(pair[1]);
        //         }

        //         const url = '@Url.Content("~/Drugs/DrugsApi/EditClinicalUse")';
        //         const response = await fetch(url, {
        //             "method": "POST",
        //             "body": formData
        //         });
        //         result= await response.json();
        //         if (response.ok) {
        //             alert('修改成功');
        //         } else {
        //             console.error('修改失敗，狀態碼：', response.status);
        //         }
        //     }
        //     catch (error) {
        //         console.error('錯誤', error);
        //     }
        // });
    </script>
}



        

            
           @*  <div class="form-group row">
                <label class="col-form-label col-md-3 col-sm-3 ">適應症編號</label>
                <div class="col-md-9 col-sm-9 ">
                    <input type="text" class="form-control" placeholder="適應症編號" name="fClinicalUseCode" >
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-form-label col-md-3 col-sm-3 ">適應症名稱</label>
                <div class="col-md-9 col-sm-9 ">
                    <input type="text" class="form-control" placeholder="適應症名稱" name="fClinicalUse">
                </div>
            </div> *@
         