@section styles
{
    <link href="~/msit155e/css/cases/responsivetable.css" rel="stylesheet" />
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/msit155e/css/MemberProfile/bootstrap.min.css" rel="stylesheet">
    <link href="~/msit155e/css/MemberProfile/bootstrap-icons.css" rel="stylesheet">
    <link href="~/msit155e/css/MemberProfile/boxicons.min.css" rel="stylesheet">
    <link href="~/msit155e/css/MemberProfile/quill.snow.css" rel="stylesheet">
    <link href="~/msit155e/css/MemberProfile/quill.bubble.css" rel="stylesheet">
    <link href="~/msit155e/css/MemberProfile/remixicon.css" rel="stylesheet">
    <link href="~/msit155e/css/MemberProfile/style.css" rel="stylesheet">

    <!--會員資料表的位置以及樣式微調-->
    <link href="~/msit155e/css/MemberProfile/MemberProfile.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/msit155e/css/MemberProfile/style.css" rel="stylesheet">

}

<div class="col-12 d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="container">
                <h1>Home</h1>
                <!-- Home content goes here -->
            </div>
        </div>
        <!-- 前台會員資表 -->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <partial name="_MemberProfilePartial">
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="container">
                <h1>Messages</h1>
                <!-- Messages content goes here -->
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="container">
                <h1>Settings</h1>
                <!-- Settings content goes here -->
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <!-- Vendor JS Files -->
    <script src="~/msit155e/js/MemberProfile/apexcharts.min.js"></script>
    <script src="~/msit155e/js/MemberProfile/bootstrap.bundle.min.js"></script>
    <script src="~/msit155e/js/MemberProfile/chart.umd.js"></script>
    <script src="~/msit155e/js/MemberProfile/echarts.min.js"></script>
    <script src="~/msit155e/js/MemberProfile/quill.min.js"></script>
    <script src="~/msit155e/js/MemberProfile/simple-datatables.js"></script>
    <script src="~/msit155e/js/MemberProfile/tinymce.min.js"></script>
    <script src="~/msit155e/js/MemberProfile/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/msit155e/js/MemberProfile/main.js"></script>


}
