@{
    ViewData["Title"] = "排班系統";
}

@section ModulesStyles
{
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->

    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

}


<div class="">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>醫師班表</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="mb-3" style="overflow: auto">
                    <div class="col-md-3">
                        <label class="form-label">月份: </label>
                        <select class="form-control" id="selectedMonth">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">醫師名稱: </label>
                        <select class="form-control" id="selectedDoctorname">
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">時段: </label>
                        <select class="form-control" id="selectedShift">
                            
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">科別: </label>
                        <select class="form-control" id="selectedDepartment">
                            
                        </select>
                    </div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">

                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                           @*  <th>id</th> *@
                                            <th>日期</th>
                                            <th>醫師</th>
                                            <th>時段</th>
                                            <th>科別</th>
                                            <th>診間</th>
                                            <th>掛號上限</th>
                                        </tr>
                                    </thead>

                                    <tbody id="tbody1">
                                        <tr>
                                            @*  <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td> *@
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Modules
        {
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

}

@section Scripts
        {
    <script>
        const selDoctorname = document.querySelector('#selectedDoctorname');
        const scheduleTableBody = document.querySelector('#tbody1');
        const selMonth = document.querySelector('#selectedMonth');
        const selShift = document.querySelector('#selectedShift');
        const selDep = document.querySelector('#selectedDepartment');

        //下拉選單匯入醫生名
        (async () => {
            const url = '@Url.Content("~/Schedule/api/SelectedDoctorName")';
            const response = await fetch(url);
            const datas = await response.json();

            //console.log(datas);
            const optDoctornames = datas.map(name => `<option value=${name}>${name}</option>`);
            optDoctornames.unshift('<option value="alldoctors">全部</option>');


            selDoctorname.innerHTML = optDoctornames.join("");
        })();

        //下拉選單匯入月份
        (async() => {
            const url = '@Url.Content("~/Schedule/api/GetMonth")';
            const response = await fetch(url);
            const datas = await response.json();
            //console.log(datas);

            const optMonth = datas.map(month => `<option value=${month}>${month}</option>`);
            //如果是請選擇則選到當月的值
            optMonth.unshift(`<option value=${(new Date()).getFullYear()}/${(parseInt((new Date()).getMonth())+1).toString().padStart(2,0)}>請選擇</option>`);

            selMonth.innerHTML = optMonth.join("");

        })();

        //下拉選單匯入時段
        (async() => {
            const url = '@Url.Content("~/Schedule/api/GetShifts")';
            const response = await fetch(url);
            const datas = await response.json();
            //console.log(datas);

            const optShift = datas.map(shift => `<option value=${shift.clinicShifts}>${shift.clinicShifts}</option>`);
            optShift.unshift('<option value="alldoctors">全部</option>');

            selShift.innerHTML = optShift.join("");
        
        })();

        //下拉選單匯入科別
        (async() => {
            const url = '@Url.Content("~/Schedule/api/GetDepartment")';
            const response = await fetch(url);
            const datas = await response.json();
            //console.log(datas)

            const optDep = datas.map(dep => `<option value=${dep}>${dep}</option>`);
            optDep.unshift('<option value="alldep">全部</option>');

            selDep.innerHTML = optDep.join("");

        })();



        //匯入醫師班表
        function QueryMemberInfo(selectedMonth) {
            //alert(selectedMonth)
            $('#datatable').dataTable({
                ajax: {
                    type: 'GET',
                    url: (`/Schedule/api/ShowThismonthSchedule/${selectedMonth}`),
                    dataSrc: function (json) { return json; }
                },
                destroy: true,
                columns: [
                    // { "data": "id", "visible": false },
                    { "data": "日期" },
                    { "data": "醫師" },
                    { "data": "時段" },
                    { "data": "科別" },
                    { "data": "診間" },
                    { "data": "掛號上限" }
                ]
            });
            
        }

        QueryMemberInfo(`${(new Date()).getFullYear()}/${(parseInt((new Date()).getMonth()) + 1).toString().padStart(2, 0)}`);

        //醫師搜尋功能
        selDoctorname.addEventListener('change', () => { searchName(); });
        function searchName() {
            const selectedDoctor = $(selDoctorname).val();
            const table = $('#datatable').DataTable();
            //alert(selectedDoctor)
            if (selectedDoctor === '全部') {
                table.column(1).search("").draw();
            } else {
                table.column(1).search(selectedDoctor).draw();
            }

        }

        //月份搜尋功能
        selMonth.addEventListener('change', (event) => { QueryMemberInfo(event.target.value) });
        

        //時段搜尋功能
        selShift.addEventListener('change',()=> { searchShift(); });
        function searchShift() {
            const selectedShift = $(selShift).val();
            const table = $('#datatable').DataTable();
            //alert(selectedShift);
            if (selectedShift === '全部') {
                table.column(2).search("").draw();
            } else {
                table.column(2).search(selectedShift).draw();
            }

        }

        //科別搜尋
        selDep.addEventListener('change', () => { searchDep(); });
        function searchDep() { 
            const selectedDep = $(selDep).val();
            const table = $('#datatable').DataTable();
            if (selectedDep === '全部') {
                table.column(3).search("").draw();
            } else {
                table.column(3).search(selectedDep).draw();
            }
            
        
        }
        
        </script>
}
