<!-- Views/Account/ForgotPassword.cshtml -->
<partial name="~/Views/Shared/_SweetAlertPartial.cshtml" />
<form asp-action="ForgotPassword" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
    <button type="submit">送出</button>
</form>

<!-- 引入 SweetAlert2  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["Success"] != null)
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '@TempData["Success"]',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}

@if (TempData["Error"] != null)
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'error',
            title: '@TempData["Error"]',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}

