@{
    ViewData["Title"] = "Reset Password";
}

<h2>@ViewData["Title"]</h2>
<p>Please enter your new password.</p>
<partial name="~/Views/Shared/_SweetAlertPartial.cshtml" />
<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="token" value="@ViewBag.Token" />

    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required class="form-control" />
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>


</form>
