@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="comp-lfkudben" style="margin-top:30px"><h1 style="text-align:center; font-size:47px;"><span style="letter-spacing:0.3em;">門診表</span></h1></div>
<table style="border: solid">
    <thead>
        <tr>
            <th></th>
            <th st>日</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
        </tr>
    </thead>
    <tbody id="department1">
        <tr id="morning">
            <td>早診</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="noon">
            <td>午診</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="night">
            <td>晚診</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<table style="border: solid">
    <thead>
        <tr>
            <th></th>
            <th>日</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
        </tr>
    </thead>
    <tbody id="department2">
        <tr id="morning">
            <td>早診</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="noon">
            <td>午診</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr id="night">
            <td>晚診</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>



<div id="comp-lfkudben" style="margin-top:30px"><h1 style="text-align:center; font-size:47px;"><span style="letter-spacing:0.3em;">醫師團隊</span></h1></div>


<div class="container-fluid" style="display:flex; flex-wrap:wrap; justify-content:center; margin:30px; border:3px dashed; width:fit-content; margin:0 auto;">
    <div class="card row item fit-content" style="width:30rem; margin:20px; ">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">婦產科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; " class="wixui-rich-text__text">李培芸</span><span style="letter-spacing:normal; font-size:25px">&nbsp;院長</span></p>

            <span style="font-size:20px;" class="wixui-rich-text__text">
                資歷：<br class="wixui-rich-text__text">
                長庚醫院婦產部主治醫師 &nbsp;<br class="wixui-rich-text__text">
                長庚醫院婦產部臨床教師 &nbsp;<br class="wixui-rich-text__text">
                新光醫院婦產科專科醫師 &nbsp;<br class="wixui-rich-text__text">
                中華民國婦產科專科醫師
            </span>


        </div>
    </div>

    <div class="card row item fit-content" style="width:30rem; margin:20px; ">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">婦產科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; " class="wixui-rich-text__text">林子軒</span><span style="letter-spacing:normal; font-size:25px">&nbsp;副院長</span></p>

            <span style="font-size:20px;" class="wixui-rich-text__text">
                資歷：<br class="wixui-rich-text__text">
                長庚醫院婦產部主治醫師 &nbsp;<br class="wixui-rich-text__text">
                長庚醫院婦產部臨床教師 &nbsp;<br class="wixui-rich-text__text">
                新光醫院婦產科專科醫師 &nbsp;<br class="wixui-rich-text__text">
                中華民國婦產科專科醫師
            </span>


        </div>
    </div>

    <div class="card row item fit-content" style="width:30rem; margin:20px; ">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">婦產科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; " class="wixui-rich-text__text">陳珮璇</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <span style="font-size:20px;" class="wixui-rich-text__text">
                資歷：<br class="wixui-rich-text__text">
                長庚醫院婦產部主治醫師 &nbsp;<br class="wixui-rich-text__text">
                長庚醫院婦產部臨床教師 &nbsp;<br class="wixui-rich-text__text">
                新光醫院婦產科專科醫師 &nbsp;<br class="wixui-rich-text__text">
                中華民國婦產科專科醫師
            </span>
            </p>

        </div>
    </div>

    <div class="card row" style="width:30rem; margin:20px; ">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">小兒科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; " class="wixui-rich-text__text">吳予成</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <span style="font-size:20px;" class="wixui-rich-text__text">
                資歷：<br class="wixui-rich-text__text">
                長庚醫院婦產部主治醫師 &nbsp;<br class="wixui-rich-text__text">
                長庚醫院婦產部臨床教師 &nbsp;<br class="wixui-rich-text__text">
                新光醫院婦產科專科醫師 &nbsp;<br class="wixui-rich-text__text">
                中華民國婦產科專科醫師
            </span>


        </div>
    </div>

    <div class="card row" style="width:30rem; margin:20px; ">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">小兒科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; " class="wixui-rich-text__text">黃育維</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <span style="font-size:20px;" class="wixui-rich-text__text">
                資歷：<br class="wixui-rich-text__text">
                長庚醫院婦產部主治醫師 &nbsp;<br class="wixui-rich-text__text">
                長庚醫院婦產部臨床教師 &nbsp;<br class="wixui-rich-text__text">
                新光醫院婦產科專科醫師 &nbsp;<br class="wixui-rich-text__text">
                中華民國婦產科專科醫師
            </span>


        </div>
    </div>
    <div class="card row" style="width:30rem; margin:20px; ">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">

            <p class="card-text"><span style="color:#C86D9D; font-size:30px; text-align:center; display:block">小兒科</span></p>
            <p style="font-size:30px; line-height:normal;"><span style="letter-spacing:normal; " class="wixui-rich-text__text">趙美琴</span><span style="letter-spacing:normal; font-size:25px">&nbsp;醫師</span></p>

            <span style="font-size:20px;" class="wixui-rich-text__text">
                資歷：<br class="wixui-rich-text__text">
                長庚醫院婦產部主治醫師 &nbsp;<br class="wixui-rich-text__text">
                長庚醫院婦產部臨床教師 &nbsp;<br class="wixui-rich-text__text">
                新光醫院婦產科專科醫師 &nbsp;<br class="wixui-rich-text__text">
                中華民國婦產科專科醫師
            </span>
            </p>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/msit155e/js/schedule/fclinicweekschedule.js"></script>
}